# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments

.venv/
.env
venv/
.env/
env/
env

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Testing
.pytest_cache/
.tox/
.coverage
*.cover
.hypothesis/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp
*.bak
*.orig
*.rej

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db