[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
faiss-cpu = "*"
langchain-google-genai = "*"
black = "*"
python-dotenv = "*"
isort = "*"
langchainhub = "*"
langchain = "*"
community = "*"

[dev-packages]

[requires]
python_version = "3.12"
